<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Main Campus</key>
	<dict>
		<key>Regular</key>
		<dict>
			<key>names</key>
			<array>
				<string>Period 1</string>
				<string>Period 2</string>
				<string>Period 3</string>
				<string>Period 4</string>
				<string>Period 5</string>
				<string>Period 6</string>
				<string>Period 7</string>
			</array>
			<key>times</key>
			<array>
				<string>7:40 - 8:31</string>
				<string>8:38 - 9:34</string>
				<string>9:41 - 10:32</string>
				<string>10:39 - 11:30</string>
				<string>(a: 11:30-12:00) (b: 12:00-12:30) (c:12:30-1:00)</string>
				<string>1:07 - 1:57</string>
				<string>2:04 - 2:55</string>
			</array>
		</dict>
		<key>Smart</key>
		<dict>
			<key>names</key>
			<array>
				<string>Period 1</string>
				<string>Period 2</string>
				<string>Period 3</string>
				<string>SMaRT</string>
				<string>Period 4</string>
				<string>Period 5</string>
				<string>Period 6</string>
				<string>Period 7</string>
			</array>
			<key>times</key>
			<array>
				<string>7:40 - 8:21</string>
				<string>8:28 - 9:09</string>
				<string>9:16 - 9:57</string>
				<string>10:04 - 10:58</string>
				<string>11:05 - 11:47</string>
				<string>(a: 11:47-12:17) (b: 12:17-12:47) (c: 12:47 - 1:17)</string>
				<string>1:24 - 2:06</string>
				<string>2:13 - 2:55</string>
			</array>
		</dict>
		<key>Late Start</key>
		<dict>
			<key>names</key>
			<array>
				<string>Period 1</string>
				<string>Period 2</string>
				<string>Period 3</string>
				<string>Period 4</string>
				<string>Period 5</string>
				<string>Period 6</string>
				<string>Period 7</string>
			</array>
			<key>times</key>
			<array>
				<string>8:40 - 9:21</string>
				<string>9:28 - 10:09</string>
				<string>10:16 - 10:57</string>
				<string>11:04 - 11:45</string>
				<string>(a: 11:45-12:15) (b: 12:15-12:45) (c:12:45-1:45)</string>
				<string>1:22 - 2:05</string>
				<string>2:12 - 2:55</string>
			</array>
		</dict>
		<key>2Hour Delay</key>
		<dict>
			<key>names</key>
			<array>
				<string>Period 1</string>
				<string>Period 2</string>
				<string>Period 3</string>
				<string>Period 4</string>
				<string>Period 5</string>
				<string>Period 6</string>
				<string>Period 7</string>
			</array>
			<key>times</key>
			<array>
				<string>9:40 - 10:12</string>
				<string>10:19 - 10:50</string>
				<string>10:57 - 11:28</string>
				<string>11:35 - 12:07</string>
				<string>(a: 12:07-12:37) (b: 12:37-1:07) (c: 1:07-1:37)</string>
				<string>1:44 - 2:16</string>
				<string>2:23 - 2:55</string>
			</array>
		</dict>
	</dict>
	<key>Freshmen</key>
	<dict>
		<key>Regular</key>
		<dict>
			<key>names</key>
			<array>
				<string>Period 1</string>
				<string>Period 2</string>
				<string>Period 3</string>
				<string>Period 4</string>
				<string>Period 5</string>
				<string>Period 6</string>
				<string>Period 7</string>
			</array>
			<key>times</key>
			<array>
				<string>7:40 - 8:35</string>
				<string>8:40 - 9:31</string>
				<string>9:36 - 10:27</string>
				<string>10:32 - 11:23</string>
				<string>(a: 11:23-11:53) (b: 11:53-12:23) (c: 12:23-12:53)</string>
				<string>12:58 - 1:49</string>
				<string>1:54 - 2:45</string>
			</array>
		</dict>
		<key>Smart</key>
		<dict>
			<key>names</key>
			<array>
				<string>Period 1</string>
				<string>Period 2</string>
				<string>Period 3</string>
				<string>SMaRT</string>
				<string>Period 4</string>
				<string>Period 5</string>
				<string>Period 6</string>
				<string>Period 7</string>
			</array>
			<key>times</key>
			<array>
				<string>7:40 - 8:22</string>
				<string>8:27 - 9:09</string>
				<string>9:14 - 9:56</string>
				<string>10:01 - 10:55</string>
				<string>11:00 - 11:42</string>
				<string>(a: 11:42-12:12) (b: 12:12-12:42) (c: 12:42 - 1:12)</string>
				<string>1:17 - 1:58</string>
				<string>2:03 - 2:45</string>
			</array>
		</dict>
		<key>Late Start</key>
		<dict>
			<key>names</key>
			<array>
				<string>Period 1</string>
				<string>Period 2</string>
				<string>Period 3</string>
				<string>Period 4</string>
				<string>Period 5</string>
				<string>Period 6</string>
				<string>Period 7</string>
			</array>
			<key>times</key>
			<array>
				<string>8:40 - 9:25</string>
				<string>9:30 - 10:11</string>
				<string>10:16 - 10:57</string>
				<string>11:02 - 11:43</string>
				<string>(a: 11:43-12:13) (b: 12:13-12:43) (c:12:43-1:13)</string>
				<string>1:18 - 1:59</string>
				<string>2:04 - 2:45</string>
			</array>
		</dict>
		<key>2Hour Delay</key>
		<dict>
			<key>names</key>
			<array>
				<string>Period 1</string>
				<string>Period 2</string>
				<string>Period 3</string>
				<string>Period 4</string>
				<string>Period 5</string>
				<string>Period 6</string>
				<string>Period 7</string>
			</array>
			<key>times</key>
			<array>
				<string>9:40 - 10:12</string>
				<string>10:17 - 10:48</string>
				<string>10:53 - 11:24</string>
				<string>11:29 - 12:01</string>
				<string>(a: 12:01-12:31) (b: 12:31-1:01) (c: 1:01-1:31)</string>
				<string>1:36 - 2:08</string>
				<string>2:13 - 2:45</string>
			</array>
		</dict>
	</dict>
</dict>
</plist>
